
<div class="alinhamento container">
    <div>
        <h2>Você está na Home do site</h2>
    </div>
    <div *ngIf="authService.conteudoHome">
        <h3>Faça seu Login!!!</h3>
        <button mat-raised-button routerLink="/login">Login</button>
    </div>

    <form [formGroup]="formCadastroUsuario">
        <h2>Cadastre-se</h2>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Digite seu Email"
                        type="text" id="email" formControlName="email" >
                <mat-error *ngIf="email.invalid">
                    é preciso de um email para se cadastrar!
                </mat-error>
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Digite sua senha"
                     type="password" id="senha" formControlName="senha">
                <mat-error *ngIf="senha.invalid">
                    É preciso inserir uma senha para se cadastrar!
                </mat-error>        
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Digite seu nome"
                     type="text" id="nome" formControlName="nome">
                <mat-error *ngIf="nome.invalid">
                    É preciso inserir um nome para se cadastrar!
                </mat-error>        
            </mat-form-field>
        </div>
    </form>
</div>