
<div>
    <div class="alinhamento container">
        <h2>Você está na Home do site</h2>
    </div>

    <div *ngIf="authService.conteudoHome" style="width: 50%; float: left" class="alinhamento container">
        <h3>Faça seu Login!!!</h3>
        <button mat-raised-button routerLink="/login">Login</button>
    </div>

    <div *ngIf="authService.conteudoHome" style="width: 50%; float: left" class="alinhamento container">
        <h3>Faça seu Cadastro!!!</h3>
        <button mat-raised-button routerLink="/cadastroUsuario">Cadastrar-se</button>
    </div>
</div>