.title {
    font-size: 20px;
    padding: 25px 0px 0px 0px; // top right down left
}

.container {
    width: 1300px;
    height: auto;
}

.registro-form {
    width: 800px;
    height: 400px;
    padding-left: 20px;
    margin-top: 80px;
    background-color: rgb(194, 206, 212);
}

.background-registro {
    width: 1000px;
    height: 450px;
    background-color: rgb(172, 198, 211);
}