<h1 class="alinhamento">Cadastre seu usuário</h1>

<form class="example-form" class="alinhamento" [formGroup]="form">
    <!-- <div fxLayout="column" fxLayoutAlign="center center"> -->  
        <mat-form-field class="example-full-width">
            <input matInput type="text" required placeholder="Nome" formControlName="nome">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width"> 
            <input matInput type="text" required placeholder="Email" formControlName="login">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput type="password" required placeholder="Senha" formControlName="senha">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button style="background-color: grey" (click)="salvar()" class="alinhamento">
                Salvar
            </button>
        </div>
    <!-- </div> -->
</form>
<!-- fxLayout="row" fxFlex="100" -->