
<button mat-raised-button (click)="voltarHome()">voltar para Home</button>

<form class="container" class="alinhamento" [formGroup]="loginForm">
    <h3>Faça seu login!!!</h3>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Digite seu Email" type="text" id="usuario" formControlName="usuario">
        <!-- <mat-error *ngIf="usuario.invalid">
            é preciso de um email válido
        </mat-error> -->
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Digite sua senha" type="password" id="senha" formControlName="senha">
        <!-- <mat-error *ngIf="senha.invalid">
            É preciso inserir uma senha para fazer o Login!
        </mat-error> -->
    </mat-form-field>
    <!-- <br>
    <div style=" padding-left: 400px">
        <mat-card style="width: 400px;" *ngIf="authService.apareceErro">
            <h5 style="color: red;">Usuário e/ou Senha não cadastrada(s)</h5>
        </mat-card>
    </div> -->
    <br>
    <button mat-raised-button color="primary" (click)="validaLogin()" [disabled]="loginForm.invalid">
        Acessar
    </button>
</form>

